[user]
	name = TON_NOM
	email = TON_EMAIL_A_TOI

[alias]
    	st = status
    	one = log --pretty=oneline --abbrev-commit --graph --decorate
    	ct = checkout -t
    	cm = checkout master
    	b = branch
	br = branch -r
	fo = fetch origin
	co = commit -am
	cb = checkout -b 
	import = !sh -c 'git checkout -t origin/$0'
        deploy = !sh -c 'git import $0 && git rebase $1 && git checkout $1 && git merge $0 && git push origin :$0 && git branch -d $0'
[merge]
	ff = only
[color]
    ui = auto
[color "branch"]
    current = yellow reverse bold
    local = yellow bold
    remote = green bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow bold
    changed = green bold
    untracked = cyan bold
